.navbar {
    background: transparent;
    border: none;
    color: rgb(220, 220, 220);
    padding: 1rem 1rem 0 1rem;
    font-size: 17px;
}

.navbar li:nth-child(2) {
    float: right;
}

.navbar li:nth-child(3) {
    float: right;
}

.navbar li:nth-child(4) {
    float: right;
}